* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 50%;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="date"] {
    padding: 8px;
}

form button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover, form a.botao-voltar:hover {
    background-color: #388E3C;
}

form a.botao-voltar {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    margin-top: 5px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 20%;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form a.botao-voltar {
    background-color: #1e6520;
    text-align: center;
}